<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>

<body>
    <button id="btnStart">Start</button>
    <button id="btnStop">Stop</button>
</body>

<script>
    var ctxAudio = new window.AudioContext(),
        analyser = ctxAudio.createAnalyser(),
        buf = new Float32Array(1024),
        input, error, frequency, pitch;

    analyser.fftSize = 2048;
    MIN_SAMPLES = 0; // will be initialized when AudioContext is created.

    navigator.getUserMedia({
        audio: true
    }, eventGetUserMedia, function() {
        console.log('can not get user media.')
    });

    function eventGetUserMedia(stream) {
        input = ctxAudio.createMediaStreamSource(stream);
        var low = ctxAudio.createBiquadFilter();
        low.frequency.value = 1000.0;
        low.type = 'lowpass';

        input.connect(low);
        low.connect(analyser);
    }

    var isRunning = false,
        strTone = '';
    document.getElementById("btnStart").onclick = function() {
        isRunning = true;
        updatePitch();
    };

    document.getElementById("btnStop").onclick = function() {
        isRunning = false;
    };

    function updatePitch() {
        if (!isRunning) {
            // console.log(strTone);
            console.log('=========');
            strTone = '';
            return;
        }

        analyser.getFloatTimeDomainData(buf);

        frequency = pitch = autoCorrelate(buf, ctxAudio.sampleRate);

        var lastKey;
        for (var key in dictMap) {
            if (pitch > 0 && key > pitch) {
                // strTone += dictMap[key] + " ";
                console.log(dictMap[lastKey] + " pitch:" + pitch + ' key:' + lastKey);
                break;
            }
            lastKey = key;
        }

        // console.log(pitch);
        setTimeout(function() {
            updatePitch();
        }, 100);

    }

    function autoCorrelate(buf, sampleRate) {
        var SIZE = buf.length;
        var MAX_SAMPLES = Math.floor(SIZE / 2);
        var best_offset = -1;
        var best_correlation = 0;
        var rms = 0;
        var foundGoodCorrelation = false;
        var correlations = new Array(MAX_SAMPLES);

        for (var i = 0; i < SIZE; i++) {
            var val = buf[i];
            rms += val * val;
        }

        rms = Math.sqrt(rms / SIZE);
        if (rms < 0.01) // not enough signal
            return -1;

        var lastCorrelation = 1;
        for (var offset = MIN_SAMPLES; offset < MAX_SAMPLES; offset++) {
            var correlation = 0;

            for (var i = 0; i < MAX_SAMPLES; i++) {
                correlation += Math.abs((buf[i]) - (buf[i + offset]));
            }
            correlation = 1 - (correlation / MAX_SAMPLES);
            correlations[offset] = correlation; // store it, for the tweaking we need to do below.
            if ((correlation > 0.9) && (correlation > lastCorrelation)) {
                foundGoodCorrelation = true;
                if (correlation > best_correlation) {
                    best_correlation = correlation;
                    best_offset = offset;
                }
            } else if (foundGoodCorrelation) {
                var shift = (correlations[best_offset + 1] - correlations[best_offset - 1]) / correlations[best_offset];
                return sampleRate / (best_offset + (8 * shift));
            }
            lastCorrelation = correlation;
        }
        if (best_correlation > 0.01) {
            // console.log("f = " + sampleRate/best_offset + "Hz (rms: " + rms + " confidence: " + best_correlation + ")")
            return sampleRate / best_offset;
        }
        return -1;
        //	var best_frequency = sampleRate/best_offset;
    }

    var dictMap = {
        34.6: 'C#0',
        38.9: 'D#0',
        46.2: 'F#0',
        51.9: 'G#0',
        58.3: 'A#0',

        69.3: 'C#1',
        77.8: 'D#1',
        92.5: 'F#1',
        103.8: 'G#1',
        110: 'A1',
        116.5: 'A#1',
        123.45: 'B1',

        130.8: 'C2',
        138.6: 'C#2',
        146.825: 'D2',
        155.6: 'D#2',
        164.8: 'E2',
        174.6: 'F2',
        185: 'F#2',
        195.975: 'G2',
        207.6: 'G#2',
        220: 'A2',
        233: 'A#2',
        246.9: 'B2',

        261.6: 'C3',
        277: 'C#3',
        293.65: 'D3',
        311: 'D#3',
        329.6: 'E3',
        349.2: 'F3',
        370: 'F#3',
        391.95: 'G3',
        415: 'G#3',
        440: 'A3',
        466: 'A#3',
        493.8: 'B3',

        523.2: 'C4',
        554: 'C#4',
        587.3: 'D4',
        622: 'D#4',
        659.2: 'E4',
        698.4: 'F4',
        740: 'F#4',
        783.9: 'G4',
        831: 'G#4',
        880: 'A4',
        932: 'A#4',
        987.6: 'B4',

        1046.4: 'C5',
        1109: 'C#5',
        1174.6: 'D5',
        1244: 'D#5',
        1318.4: 'E5',
        1396.8: 'F5',
        1480: 'F#5',
        1567.8: 'G5',
        1661: 'G#5',
        1760: 'A5',
        1865: 'A#5',
        1975.2: 'B5',

        2092.8: 'C6',
        2217 : 'C#6',
        2349.2: 'D6',
        2489 : 'D#6',
        2636.8: 'E6',
        2793.6: 'F6',
        2960 : 'F#6',
        3135.6: 'G6',
        3322 : 'G#6',
        3520 : 'A6',
        3729: 'A#6',
        3950.4 : 'B6',

        4185.6 : 'C7',
        4698.4: 'D7',
        5273.6: 'E7',
        5587.2: 'F7',
        6271.2: 'G7',
    }

    // var dictMap = {
    //     34.6: 'C#',
    //     38.9: 'D#',
    //     46.2: 'F#',
    //     51.9: 'G#',
    //     58.3: 'A#',

    //     69.3: 'C#',
    //     77.8: 'D#',
    //     92.5: 'F#',
    //     103.8: 'G#',

    //     110: 'A',
    //     116.5: 'A#',
    //     123.45: 'B',
    //     130.8: 'C',
    //     138.6: 'C#',
    //     146.825: 'D',
    //     155.6: 'D#',
    //     164.8: 'E',
    //     174.6: 'F',
    //     185: 'F#',
    //     195.975: 'G',
    //     207.6: 'G#',

    //     220: 'A',
    //     233: 'A#',
    //     246.9: 'B',
    //     261.6: 'C',
    //     277: 'C#',
    //     293.65: 'D',
    //     311: 'D#',
    //     329.6: 'E',
    //     349.2: 'F',
    //     370: 'F#',
    //     391.95: 'G',
    //     415: 'G#',

    //     440: 'A',
    //     466: 'A#',
    //     493.8: 'B',
    //     523.2: 'C',
    //     554: 'C#',
    //     587.3: 'D',
    //     622: 'D#',
    //     659.2: 'E',
    //     698.4: 'F',
    //     740: 'F#',
    //     783.9: 'G',
    //     831: 'G#',

    //     880: 'A',
    //     932: 'A#',
    //     987.6: 'B',
    //     1046.4: 'C',
    //     1109: 'C#',
    //     1174.6: 'D',
    //     1244: 'D#',
    //     1318.4: 'E',
    //     1396.8: 'F',
    //     1480: 'F#',
    //     1567.8: 'G',
    //     1661: 'G#',

    //     1760: 'A',
    //     1865: 'A#',
    //     1975.2: 'B',
    //     2092.8: 'C',
    //     2217 : 'C#',
    //     2349.2: 'D',
    //     2489 : 'D#',
    //     2636.8: 'E',
    //     2793.6: 'F',
    //     2960 : 'F#',
    //     3135.6: 'G',
    //     3322 : 'G#',

    //     3520 : 'A',
    //     3729: 'A#',
    //     3950.4 : 'B',
    //     4185.6 : 'C',
    //     4698.4: 'D',
    //     5273.6: 'E',
    //     5587.2: 'F',
    //     6271.2: 'G',
    // }
</script>

</html>